<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Cascade</string>
    <key>CFBundleName</key>
    <string>Cascade</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 Jacob Stephens</string>
    <!-- High-resolution capable -->
    <key>NSHighResolutionCapable</key>
    <true/>
    <!-- Required so `MPNowPlayingInfoCenter` shows up in Control Center. -->
    <key>MPNowPlayingInfoPropertyMediaType</key>
    <integer>1</integer>
</dict>
</plist>
